extends layout

block content
  header(class="w3-container w3-teal")
    h1 #{title}

  nav(class="w3-bar w3-light-grey")
    a(href="/cadeiras" class="w3-bar-item w3-button") Cadeiras
    a(href="/perfil" class="w3-bar-item w3-button") Perfil
    if nivel == 'docente' || nivel == 'admin'
      a(href="/cadeiras/add" class="w3-bar-item w3-button") Nova Cadeira
    a(href="/logout" class="w3-bar-item w3-button") Logout

  div(class="w3-container")
    h2 Lista de Cadeiras
    if cadeiras.length > 0
      ul(class="w3-ul w3-card-4")
        for cadeira in cadeiras
          if cadeira.titulo && cadeira._id
            li(class="w3-bar")
              span(class="w3-bar-item")
              a(href=`/cadeiras/${cadeira._id}`) #{cadeira.titulo}
    else
      p Sem cadeiras
