extends layout

block content
  .w3-card-4
    header.w3-bar.w3-wide.w3-card
      h1 Registar
      button#Action.w3-btn.w3-mb-2(type="submit" form="Register") CONFIRMAR
      a(href="/login") Login

    form#Register.w3-container(action="/register" method="POST", style="padding-top:90px; padding-bottom:20px")
        fieldset 
            label Nome completo
            input.w3-input(type="text" name="nome")
            label E-mail 
            input.w3-input(type="email" name="email")
            label Password 
            input.w3-input(type="password" name="password")
            label Filiation 
            input.w3-input(type="text" name="filiacao")
            label Categoria
            input.w3-input(type="text" name="categoria")
            label Webpage
            input.w3-input(type="text" name="webpage")
            p Tipo de utilizador:
            input.w3-radio(type="radio" name="nivel" value="aluno" id="aluno" checked)
            label(for="aluno") Aluno 
            input.w3-radio(type="radio" name="nivel" value="docente" id="docente")
            label(for="docente") Docente 